{% extends 'base.html' %}
{% block content %}
<a class="btn btn-secondary btn-sm mb-3" href="{% url 'buildings:index' %}">Back to Buildings</a>
<h1 class="text-center mb-3">{{ building.name }} </h1>

{% if error_message %}
<p class="alert alert-danger">
 <strong>{{ error_message }}</strong>   
</p>
{% endif %}

<form>
  {% csrf_token %}
  {% for reading in meter.readings_set.all %}
  <div class="form-check">
    <p class="lead">{{ reading.consumption }}</p>
  </div>
  {% endfor %}
</form>
{% endblock %}